<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Met kovanca:</h1>
    <div id="coin"> Pritisni gumb za met kovanca </div>
    <img src="" alt="Kovanec" id="kovanec">

    <button onclick="btnCLICK()" type="button">FLIP!</button>



</body>

</html>

<script>
    function btnCLICK() {
        var divCoin = document.getElementById("coin")
        var slikaKovanec= document.getElementById("kovanec")

        $.ajax({
            url: "/coinData",
            data: {
                vrednost : ""
            },
            success: function (result) {
                console.log(result)
                divCoin.innerHTML = result.status;
                slikaKovanec.src=result.slika;

            }
        });

        
        //console.log("BAM")
    }

</script>