<!DOCTYPE html>
<html lang="en">

<head>

    <title>REQUEST METODE</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="output">N/A</div>
</body>

</html>

<script>
    var outputDiv= document.getElementById("output")
    function postAjax(){
        $.ajax({
            url: "/",
            method: "POST",
            data: {
                zipcode: 97201
            },
            success: function (result) {
                outputDiv.innerHTML=result.status
                console.log(result)
            }
        });
    }

    setInterval(postAjax,1000)
</script>